<div id="cntnt">
  <div class="showtitle">
    <p><%= @article.title%><br>
  </div>
  <div id="desc">
    <p>
      <%= @article.description%>
    </p>
  </div>
  <div class="showcontent">
    <%= markdown(@article.content).html_safe %>
    </p>
  </div>
</div>

