<div id="cntnt">
  <div class="showtitle">
    <p><%= @article.title%><br>
  </div>
  <div class="showcontent">
    <%= qiita_markdown(@article.content) %>
    </p>
  </div>
</div>

<div class="link">
  <%=link_to 'トップ',articles_path%>
</div>
