@charset "UTF-8";
/* line 2, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
ul li img {
  height: 160px;
  width: 280px;
}

/* line 9, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox {
  width: 350px;
  position: absolute;
  margin: 10px 1000px 1000px 1000px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
}

/* line 17, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dt {
  padding: 2px;
}

/* line 20, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dt input {
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
}

/* line 27, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dd {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
}

/* line 33, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.search-btn {
  display: block;
  background: #FE2E2E;
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFF;
  cursor: pointer;
}

/* line 45, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.search-btn:hover {
  opacity: 0.8;
}

/* line 51, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-space {
  margin-left: 650px;
}

/* line 55, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a {
  text-decoration: none;
}

/* line 59, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a:visited {
  text-decoration: none;
  color: #000000;
}

/* line 64, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a:hover {
  color: #FE2E2E;
}

/* line 70, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.menu {
  margin-left: 532px;
  margin-bottom: 50px;
}

/* line 75, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu a {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  display: inline;
  margin-right: 42px;
}

/* line 84, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu a:hover {
  border-bottom: solid 2px #FE2E2E;
  color: #FE2E2E;
}

/* line 89, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
span {
  margin-right: 42px;
}

/* line 97, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame {
  background-color: #eee;
}
/* line 102, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .code-lang span {
  padding: .5em;
  color: #fff;
  background-color: #666;
}
/* line 109, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 110, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .hll {
  background-color: #ffffcc;
}
/* line 111, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 112, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 113, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .k {
  color: #000000;
  font-weight: bold;
}
/* line 114, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .o {
  color: #000000;
  font-weight: bold;
}
/* line 115, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 116, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 117, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 118, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 119, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 120, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ge {
  color: #000000;
  font-style: italic;
}
/* line 121, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gr {
  color: #aa0000;
}
/* line 122, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gh {
  color: #999999;
}
/* line 123, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 124, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .go {
  color: #888888;
}
/* line 125, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gp {
  color: #555555;
}
/* line 126, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gs {
  font-weight: bold;
}
/* line 127, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gu {
  color: #aaaaaa;
}
/* line 128, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gt {
  color: #aa0000;
}
/* line 129, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kc {
  color: #000000;
  font-weight: bold;
}
/* line 130, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kd {
  color: #000000;
  font-weight: bold;
}
/* line 131, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kn {
  color: #000000;
  font-weight: bold;
}
/* line 132, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kp {
  color: #000000;
  font-weight: bold;
}
/* line 133, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kr {
  color: #000000;
  font-weight: bold;
}
/* line 134, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 135, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .m {
  color: #009999;
}
/* line 136, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s {
  color: #d01040;
}
/* line 137, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .na {
  color: #008080;
}
/* line 138, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nb {
  color: #0086B3;
}
/* line 139, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 140, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .no {
  color: #008080;
}
/* line 141, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
/* line 142, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ni {
  color: #800080;
}
/* line 143, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* line 144, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 145, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nl {
  color: #990000;
  font-weight: bold;
}
/* line 146, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nn {
  color: #555555;
}
/* line 147, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nt {
  color: #000080;
}
/* line 148, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nv {
  color: #008080;
}
/* line 149, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ow {
  color: #000000;
  font-weight: bold;
}
/* line 150, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .w {
  color: #bbbbbb;
}
/* line 151, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mf {
  color: #009999;
}
/* line 152, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mh {
  color: #009999;
}
/* line 153, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mi {
  color: #009999;
}
/* line 154, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mo {
  color: #009999;
}
/* line 155, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sb {
  color: #d01040;
}
/* line 156, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sc {
  color: #d01040;
}
/* line 157, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sd {
  color: #d01040;
}
/* line 158, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s2 {
  color: #d01040;
}
/* line 159, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .se {
  color: #d01040;
}
/* line 160, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sh {
  color: #d01040;
}
/* line 161, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .si {
  color: #d01040;
}
/* line 162, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sx {
  color: #d01040;
}
/* line 163, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sr {
  color: #009926;
}
/* line 164, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s1 {
  color: #d01040;
}
/* line 165, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ss {
  color: #990073;
}
/* line 166, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .bp {
  color: #999999;
}
/* line 167, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vc {
  color: #008080;
}
/* line 168, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vg {
  color: #008080;
}
/* line 169, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vi {
  color: #008080;
}
/* line 170, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .il {
  color: #009999;
}

/* line 176, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article {
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 70px;
  width: auto;
  height: 150px;
  font-size: 24px;
}

/* line 185, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article img {
  height: 160px;
  width: 280px;
  margin-right: 18px;
  position: absolute;
  float: left;
}

/* line 193, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title {
  margin-left: 300px;
  margin-top: 60px;
}

/* line 198, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title a {
  color: #000000;
  text-decoration: none;
  font-family: "メイリオ",Meiryo;
  font-weight: bold;
}

/* line 205, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title a:hover {
  color: #FE2E2E;
}

/* line 209, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.description {
  width: 500px;
  font-size: 12px;
  color: #6a6a6a;
  margin-left: 300px;
  margin-top: 20px;
}

/* line 217, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone {
  margin-left: 250px;
  float: left;
  margin-top: 20px;
  font-size: 24px;
  height: 400px;
  width: 330px;
  box-shadow: 0 0 10px;
  padding-left: 50px;
  padding-top: 30px;
}

/* line 230, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

/* line 238, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone a:hover {
  color: #FE2E2E;
}

/* line 242, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone img {
  height: 180px;
  width: 280px;
}

/* line 247, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.description-zone {
  color: #6a6a6a;
  font-size: 10px;
}

/* line 253, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone {
  margin-left: 750px;
  margin-top: 87px;
  font-size: 24px;
  height: 400px;
  width: 330px;
  box-shadow: 0 0 10px;
  padding-left: 50px;
  padding-top: 30px;
}

/* line 264, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

/* line 272, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone a:hover {
  color: #FE2E2E;
}

/* line 276, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone img {
  height: 180px;
  width: 280px;
}

/* line 281, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.firstborder {
  border: dotted 1px #FE2E2E;
  margin-top: 120px;
}

/* line 288, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
li {
  margin-bottom: 32px;
}

/* line 292, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
li a {
  color: #000000;
  font-weight: bold;
  font-family: "メイリオ",Meiryo;
  text-decoration: none;
}

/* line 299, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
li a:hover {
  opacity: 0.8;
}

/* line 304, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
footer {
  height: 117px;
  width: auto;
  background-color: #000000;
  color: white;
  font-size: 9px;
  margin-top: 160px;
  padding-top: 70px;
  padding-left: 125px;
}

/* line 315, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
footer span {
  font-size: 25px;
  margin-right: 50px;
}

/* line 320, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.paginate {
  margin-left: 620px;
}

/* line 327, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle {
  margin-left: 180px;
  font-weight: bold;
  color: #000000;
  font-size: 36px;
}

/* line 335, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent {
  margin-left: 190px;
  margin-top: 10px;
  margin-right: 190px;
}

/* line 341, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom: 4px solid #ccc;
}

/* line 351, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #FE2E2E;
}

/* line 362, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h3 {
  font-weight: bold;
  font-size: 14px;
}

/* line 367, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.cntnt {
  height: 500px;
  width: 650px;
}

/* line 372, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.link {
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
}

/* line 378, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#desc {
  width: 550px;
  height: auto;
}

/* line 383, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#desc p {
  color: #000000;
  font-size: 12px;
  margin-left: 190px;
}

/* line 391, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.auth {
  color: white;
  font-size: 10px;
}

/*!
 * スマホ版表示
 */
/* line 400, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.sp_top {
  margin-left: 360px;
}

/* line 404, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp {
  margin-left: 350px;
}

/* line 408, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp a {
  color: #000000;
  text-decoration: none;
  font-family: "メイリオ",Meiryo;
  font-weight: bold;
}

/* line 416, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp a:hover {
  opacity: 0.8;
}

/* line 421, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.menu-sp {
  margin-left: 300px;
  margin-bottom: 30px;
}

/* line 426, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu-sp a {
  margin-right: 30px;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
}

/* line 433, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu-sp a:hover {
  color: #FE2E2E;
}

/* line 437, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.border_sp {
  border: dotted 1px #FE2E2E;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* line 444, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article_sp {
  margin-bottom: 50px;
  width: auto;
  height: 150px;
  font-size: 24px;
}

/* line 451, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article_sp img {
  height: 140px;
  width: 270px;
  margin-right: 18px;
  margin-left: 40px;
  position: absolute;
  float: left;
}

/*
*記事内のデザイン（スマートフォン）
 */
/* line 466, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle_sp {
  margin-left: 20px;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
}

/* line 473, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp {
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 10px;
}

/* line 479, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom: 4px solid #ccc;
}

/* line 489, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #FE2E2E;
}

/* line 500, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h3 {
  font-weight: bold;
  font-size: 18px;
}

/* line 505, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#cntnt_sp {
  height: 900px;
  width: auto;
}

/* line 510, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.desc-sp {
  color: #666666;
  font-size: 12px;
  margin-left: 350px;
}

/* line 518, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.about-title {
  margin-left: 500px;
  margin-bottom: 50px;
}

/* line 523, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#about-momiji {
  height: 500px;
  width: 850px;
  margin-left: 300px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
