@charset "UTF-8";
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
/* line 5, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 13, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* line 17, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bxslider {
  margin: 0;
  padding: 0;
}

/* line 21, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
ul.bxslider {
  list-style: none;
}

/* line 24, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
/* line 30, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;
}

/* line 37, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
/* line 44, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
/* line 55, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

/* line 63, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 75, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

/* line 80, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}

/* line 87, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 92, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("images/controls.png") no-repeat 0 -32px;
}

/* line 96, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

/* line 100, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-next {
  right: 10px;
  background: url("images/controls.png") no-repeat -43px -32px;
}

/* line 104, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

/* line 108, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

/* line 118, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 122, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* line 125, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}

/* line 134, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

/* line 139, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}

/* line 148, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 154, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 158, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 163, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

/* line 171, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/jquery.bxslider.css */
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* line 4, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
ul li img {
  height: 160px;
  width: 280px;
}

/* line 11, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox {
  width: 350px;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
}

/* line 20, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dt {
  padding: 2px;
}

/* line 23, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dt input {
  width: 70%;
  height: 30px;
  line-height: 30px;
  background: none;
  border: none;
}

/* line 30, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
dl.searchbox dd {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
}

/* line 36, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.search-btn {
  display: block;
  background: #FE2E2E;
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFF;
  cursor: pointer;
}

/* line 48, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.search-btn:hover {
  opacity: 0.8;
}

/* line 55, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-space {
  margin-left: 630px;
  margin-top: 200px;
  position: absolute;
  z-index: 2;
}

/* line 62, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a {
  text-decoration: none;
  color: white;
  font-size: 42px;
}

/* line 68, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a:link {
  text-decoration-color: white;
  color: white;
}

/* line 73, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a:visited {
  text-decoration: none;
  color: white;
}

/* line 78, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
h1 a:hover {
  color: #FE2E2E;
}

/* line 82, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.concept {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 590px;
  margin-top: 260px;
}

/* line 92, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-show {
  margin-left: 630px;
  margin-bottom: 50px;
}

/* line 97, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-show a {
  text-decoration: none;
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}

/* line 104, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-show a:link {
  text-decoration-color: white;
  color: #000000;
}

/* line 109, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-show a:visited {
  text-decoration: none;
  color: #000000;
}

/* line 114, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-show a:hover {
  color: #FE2E2E;
}

/* line 119, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.logo-space-who {
  margin-left: 400px;
  margin-top: 50px;
  position: absolute;
  z-index: 2;
}

/* line 126, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.concept-who {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 350px;
  margin-top: 120px;
}

/* line 139, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#menu {
  float: right;
  margin-right: 50px;
  margin-top: 60px;
  margin-bottom: 50px;
}

/* line 146, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu {
  width: auto;
  height: 40px;
}

/* line 152, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu a {
  font-size: 14px;
  margin-left: 30px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #000000;
  border-radius: 3px;
  transition: .4s;
}

/* line 163, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu a:hover {
  background: #000000;
  color: white;
}

/* line 168, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu-signed-in {
  width: auto;
  height: 40px;
}

/* line 174, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu-signed-in a {
  font-size: 14px;
  margin-left: 30px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #000000;
  border-radius: 3px;
  transition: .4s;
}

/* line 185, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.top-menu-signed-in a:hover {
  background: #000000;
  color: white;
}

/* line 192, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame {
  background-color: #eee;
}
/* line 197, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .code-lang span {
  padding: .5em;
  color: #fff;
  background-color: #666;
}
/* line 204, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 205, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .hll {
  background-color: #ffffcc;
}
/* line 206, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 207, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 208, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .k {
  color: #000000;
  font-weight: bold;
}
/* line 209, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .o {
  color: #000000;
  font-weight: bold;
}
/* line 210, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 211, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 212, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 213, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 214, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 215, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ge {
  color: #000000;
  font-style: italic;
}
/* line 216, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gr {
  color: #aa0000;
}
/* line 217, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gh {
  color: #999999;
}
/* line 218, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 219, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .go {
  color: #888888;
}
/* line 220, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gp {
  color: #555555;
}
/* line 221, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gs {
  font-weight: bold;
}
/* line 222, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gu {
  color: #aaaaaa;
}
/* line 223, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .gt {
  color: #aa0000;
}
/* line 224, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kc {
  color: #000000;
  font-weight: bold;
}
/* line 225, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kd {
  color: #000000;
  font-weight: bold;
}
/* line 226, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kn {
  color: #000000;
  font-weight: bold;
}
/* line 227, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kp {
  color: #000000;
  font-weight: bold;
}
/* line 228, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kr {
  color: #000000;
  font-weight: bold;
}
/* line 229, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 230, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .m {
  color: #009999;
}
/* line 231, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s {
  color: #d01040;
}
/* line 232, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .na {
  color: #008080;
}
/* line 233, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nb {
  color: #0086B3;
}
/* line 234, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 235, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .no {
  color: #008080;
}
/* line 236, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
/* line 237, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ni {
  color: #800080;
}
/* line 238, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* line 239, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 240, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nl {
  color: #990000;
  font-weight: bold;
}
/* line 241, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nn {
  color: #555555;
}
/* line 242, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nt {
  color: #000080;
}
/* line 243, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .nv {
  color: #008080;
}
/* line 244, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ow {
  color: #000000;
  font-weight: bold;
}
/* line 245, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .w {
  color: #bbbbbb;
}
/* line 246, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mf {
  color: #009999;
}
/* line 247, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mh {
  color: #009999;
}
/* line 248, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mi {
  color: #009999;
}
/* line 249, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .mo {
  color: #009999;
}
/* line 250, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sb {
  color: #d01040;
}
/* line 251, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sc {
  color: #d01040;
}
/* line 252, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sd {
  color: #d01040;
}
/* line 253, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s2 {
  color: #d01040;
}
/* line 254, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .se {
  color: #d01040;
}
/* line 255, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sh {
  color: #d01040;
}
/* line 256, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .si {
  color: #d01040;
}
/* line 257, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sx {
  color: #d01040;
}
/* line 258, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .sr {
  color: #009926;
}
/* line 259, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .s1 {
  color: #d01040;
}
/* line 260, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .ss {
  color: #990073;
}
/* line 261, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .bp {
  color: #999999;
}
/* line 262, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vc {
  color: #008080;
}
/* line 263, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vg {
  color: #008080;
}
/* line 264, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .vi {
  color: #008080;
}
/* line 265, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.code-frame .highlight .il {
  color: #009999;
}

/* line 270, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.tag {
  margin-top: 30px;
  color: #d4c5c0;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 278, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.tag span a {
  color: #d4c5c0;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 286, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.tag-sumaho {
  margin-top: 80px;
  float: right;
  color: #d4c5c0;
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 295, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.tag-sumaho span a {
  color: #fe696c;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration: none;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 305, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone {
  margin-left: 300px;
  margin-top: 64px;
  font-size: 24px;
  height: 440px;
  width: 330px;
  background-color: white;
  padding-left: 50px;
  padding-top: 30px;
}

/* line 317, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

/* line 325, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone a:hover {
  color: #FE2E2E;
}

/* line 329, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.second-zone img {
  height: 180px;
  width: 280px;
}

/* line 334, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.description-zone {
  color: #6a6a6a;
  font-size: 14px;
  width: 300px;
  margin-top: 20px;
}

/* line 341, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.date-index {
  float: right;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 30px;
}

/* line 349, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone {
  margin-right: 300px;
  float: right;
  font-size: 24px;
  height: 440px;
  width: 330px;
  background-color: white;
  padding-left: 50px;
  padding-top: 30px;
  margin-top: 64px;
}

/* line 361, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

/* line 369, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone a:hover {
  color: #FE2E2E;
}

/* line 373, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.third-zone img {
  height: 180px;
  width: 280px;
}

/* line 378, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.firstborder {
  border: dotted 1px #FE2E2E;
  margin-top: 120px;
}

/* line 383, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
li a {
  color: #000000;
  font-weight: bold;
  font-family: "メイリオ",Meiryo;
  text-decoration: none;
}

/* line 390, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
li a:hover {
  opacity: 0.8;
}

/* line 396, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle {
  margin-left: 360px;
  font-weight: bold;
  color: #000000;
  font-size: 36px;
}

/* line 403, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle p {
  font-size: 32px;
}

/* line 407, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent {
  margin-left: 360px;
  margin-top: 10px;
  margin-right: 190px;
  font-size: 16px;
  line-height: 1.7;
}

/* line 416, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent p {
  margin-bottom: 1.7em;
}

/* line 421, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom: 4px solid #ccc;
}

/* line 431, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #FE2E2E;
}

/* line 442, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent h3 {
  font-weight: bold;
  font-size: 14px;
}

/* line 447, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#cntnt {
  height: 500px;
  width: 1300px;
}

/* line 452, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.link {
  margin-top: 100px;
  text-align: center;
  text-decoration: none;
}

/* line 458, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#desc {
  width: 1000px;
  height: auto;
}

/* line 463, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#desc p {
  color: #000000;
  font-size: 12px;
  margin-left: 360px;
}

/* リセット */
/* line 472, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 473, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* 設定 */
/* line 475, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.container_pc {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  z-index: 1;
}

/* line 476, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_all {
  width: 800px;
  margin: 0 auto;
  height: 250px;
  position: relative;
}

/* line 477, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_wrap {
  width: 2400px;
  position: absolute;
  left: 50%;
  margin-left: -1200px;
}

/* line 478, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_body {
  width: 100%;
}

/* line 479, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide {
  width: 800px;
}

/* line 480, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide img {
  height: 400px;
  width: 100%;
  vertical-align: bottom;
}

/* line 488, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.auth {
  color: white;
  font-size: 10px;
}

/*!
 * スマホ版表示
 */
/* line 497, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.sp_top {
  margin-left: 360px;
}

/* line 501, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp {
  margin-left: 400px;
}

/* line 505, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp a {
  color: #000000;
  text-decoration: none;
  font-family: "メイリオ",Meiryo;
  font-weight: bold;
  font-size: 32px;
}

/* line 514, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title_sp a:hover {
  opacity: 0.8;
}

/* line 520, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#menu-sp {
  display: none;
}

/* line 523, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#menu-sp li {
  width: 100%;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 531, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#menu-sp li a {
  display: block;
  padding: 12px 0 10px;
  background: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

/* line 541, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle {
  display: block;
  position: relative;
  width: 100%;
  background: #FE2E2E;
}

/* line 547, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle a {
  display: block;
  position: relative;
  padding: 12px 0 10px;
  border-bottom: 1px solid #444;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/* line 557, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
}

/* line 568, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle a:before, #toggle a:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 4px;
  background: #222;
}

/* line 578, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle a:before {
  margin-top: -6px;
}

/* line 581, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#toggle a:after {
  margin-top: 2px;
}

/* リセット */
/* line 588, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 589, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
body, html {
  width: 100%;
  height: 100%;
}

/* 設定 */
/* line 591, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.container {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
}

/* line 592, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_all {
  width: 800px;
  margin: 0 auto;
  height: 250px;
  position: relative;
}

/* line 593, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_wrap {
  width: 2400px;
  position: absolute;
  left: 50%;
  margin-left: -1200px;
}

/* line 594, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide_body {
  width: 100%;
}

/* line 595, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide {
  width: 800px;
}

/* line 596, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.slide img {
  height: 400px;
  width: 100%;
  vertical-align: bottom;
}

/* 装飾 */
/* line 602, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-controls-direction, .bx-pager {
  text-align: center;
  height: 25px;
}

/* line 603, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-controls-direction a, .bx-pager-item {
  display: inline-block;
}

/* line 604, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-pager-item a {
  display: block;
  height: 10px;
  width: 10px;
  text-indent: -9999px;
  background: #000;
  border-radius: 10px;
  margin: 10px 2px 0 2px;
}

/* line 605, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-pager-item a.active {
  opacity: 0.3;
}

/* line 606, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-controls-direction a {
  text-decoration: none;
  color: #000;
  padding: 0 5px;
}

/* line 607, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.bx-controls {
  position: absolute;
  bottom: 5px;
  z-index: 100;
  width: 100%;
}

/* line 613, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.border_sp {
  border: dotted 1px #FE2E2E;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* line 620, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article_sp {
  margin-bottom: 50px;
  width: auto;
  height: 150px;
  font-size: 24px;
}

/* line 627, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.article_sp img {
  height: 200px;
  width: 370px;
  margin-right: 18px;
  float: left;
  position: absolute;
  float: left;
}

/* line 637, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.date-time {
  margin-left: 400px;
  color: #666666;
}

/*
*記事内のデザイン（スマートフォン）
 */
/* line 647, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle_sp {
  margin-left: 20px;
  font-weight: bold;
  color: #000000;
  font-size: 40px;
}

/* line 654, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showtitle_sp p span {
  font-size: 16px;
}

/* line 658, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp p {
  font-size: 20px;
  margin-bottom: 1.7em;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

/* line 666, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp {
  margin-top: 10px;
  width: 990px;
}

/* line 671, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h2 {
  font-weight: bold;
  font-size: 36px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom: 4px solid #ccc;
}

/* line 681, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h2::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #FE2E2E;
}

/* line 692, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.showcontent_sp h3 {
  font-weight: bold;
  font-size: 18px;
}

/* line 700, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.desc-sp {
  color: #666666;
  font-size: 12px;
  margin-left: 350px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

/* line 709, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.about-title {
  margin-left: 500px;
  margin-bottom: 50px;
}

/* line 714, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#about-momiji {
  height: 500px;
  width: 850px;
  margin-left: 300px;
}

/* line 720, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.about-title-who {
  vertical-align: center;
  text-align: center;
  margin-bottom: 50px;
}

/* line 726, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#about-momiji-who {
  height: 500px;
  width: 600px;
  margin-left: 220px;
}

/* line 732, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#about-momiji-who p {
  size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

/* line 742, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#form-style {
  margin-left: 300px;
}

/* line 746, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.title-style input {
  width: 500px;
}

/* line 750, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.des-style input {
  width: 500px;
  height: 100px;
}

/* line 755, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.content-style textarea {
  width: 1000px;
  height: 500px;
}

/* line 761, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
body {
  background-color: #fbf9f9;
}

/* line 765, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
footer {
  height: 117px;
  bottom: 0px;
  margin-top: 1500px;
  width: auto;
  background-color: #000000;
  color: white;
  font-size: 9px;
  padding-top: 70px;
  padding-left: 125px;
}

/* line 777, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
footer span {
  font-size: 25px;
  margin-right: 50px;
}

/* line 782, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.paginate {
  margin-left: 620px;
}

/* line 788, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.date-content {
  margin-left: 970px;
  font-size: 14px;
  color: #FE2E2E;
}

/* line 794, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social {
  display: inline-block;
  margin-top: 30px;
  margin-left: 360px;
}
/* line 798, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social .button {
  float: left;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 4px;
}
/* line 804, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social .button.twitter {
  width: 90px;
}
/* line 807, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social .button.pocket {
  width: 100px;
}
/* line 810, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social .button.google {
  width: 70px;
}
/* line 813, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.social .button.hatena {
  margin-right: 17px;
}

/* line 821, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#favorites-index {
  font-weight: bold;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 48px;
}

/* line 829, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.fav-content {
  text-align: center;
  margin-top: 48px;
}

/* line 834, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.fav-content img {
  width: 250px;
  margin-bottom: 24px;
}

/* line 839, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.fav-content a {
  text-decoration: none;
  font-family: "メイリオ",Meiryo;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

/* line 847, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.fav-content a:hover {
  opacity: 0.8;
}

/* line 851, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
.fav-border {
  border-bottom: dotted 1px black;
  width: 1000px;
  margin-left: 225px;
  margin-top: 24px;
}

/* line 858, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#like-button img {
  width: 30px;
  height: 30px;
  float: right;
}

/* line 864, /Users/futamidaiki/Desktop/momiji/Momiji/app/assets/stylesheets/application.scss */
#like-sum {
  font-size: 12px;
  float: right;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
