<h2 class="about-title">和菓子専門メディア MOMIJIについて</h2>
<div id="about-momiji">
  <p>和菓子メディア MOMIJIは、日本中の和菓子情報を集めた和菓子専門メディアです。現在Webメディアはインターネット上にかなりの数があります。
  スイーツ専門のメディアやグルメ情報を掲載したメディアはたくさんありますが、和菓子にスポットを当てたメディアはないなと感じて立ち上げました。
    メディアの機能やデザインは随時更新されていきます。また、バグや修正点は随時報告してくださると幸いです。</p>

  末長く和菓子メディア MOMIJIをよろしくお願いします。
</div>
