ul li img{
    height: 160px;
    width: 280px;
}


dl.searchbox{
    width: 350px;
    position:absolute;
    margin:10px 1000px 1000px 1000px;
    background-color:#fff;
    border:1px solid #aaa;
    border-radius:6px;
}
dl.searchbox dt{
    padding:2px;
}
dl.searchbox dt input{
    width:70%;
    height:30px;
    line-height:30px;
    background:none;
    border:none;
}
dl.searchbox dd{
    position:absolute;
    top:0px;
    right:0px;
    width:30%;
}
.search-btn{
    display:block;
    background:#cf7f4b;
    width:100%;
    height:36px;
    line-height:36px;
    border:none;
    border-radius: 0 6px 6px 0;
    color:#FFF;
    cursor: pointer;
}

.search-btn:hover {
    opacity:0.8;
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
