@import "devise_bootstrap_views";
@import "jquery.bxslider";
@import "bootstrap-sprockets";
@import "bootstrap";

// サムネイル画像大きさ指定
ul li img{
    height: 160px;
    width: 280px;
}


// 検索ボックスのデザイン
dl.searchbox{
    width: 350px;
    position:absolute;
    margin-left:100px;
    margin-top:100px;
    background-color:#fff;
    border:1px solid #aaa;
    border-radius:6px;
}
dl.searchbox dt{
    padding:2px;
}
dl.searchbox dt input{
    width:70%;
    height:30px;
    line-height:30px;
    background:none;
    border:none;
}
dl.searchbox dd{
    position:absolute;
    top:0px;
    right:0px;
    width:30%;
}
.search-btn{
    display:block;
    background:#FE2E2E;
    width:100%;
    height:34px;
    line-height:34px;
    border:none;
    border-radius: 0 6px 6px 0;
    color:#FFF;
    cursor: pointer;
}

.search-btn:hover {
    opacity:0.8;
}



// ロゴのデザイン
.logo-space{
  margin-left:630px;
  margin-top:200px;
  position:absolute;
  z-index:2;
}


.logo-space a{
  text-decoration:none;
}

h1 a{
  color:white;
  font-size:42px;
}

h1 a:link{
  text-decoration-color: white;
  color:white;
}

h1 a:visited{
  text-decoration:none;
  color:white;
}

h1 a:hover{
  color:#FE2E2E;
}

.concept{
  color:white;
  font-size:16px;
  font-weight:bold;
  position:absolute;
  z-index:2;
  margin-left:590px;
  margin-top:270px;
}

.logo-show{
  margin-left:630px;
  margin-bottom:50px;
}

.logo-show a{
  text-decoration:none;
  color:#000000;
  font-size:36px;
  font-weight:bold;
}

.logo-show a:link{
  text-decoration-color: white;
  color:#000000;
}

.logo-show a:visited{
  text-decoration:none;
  color:#000000;
}

.logo-show a:hover{
  color:#FE2E2E;
}

// スマホのロゴ
.logo-space-who{
  margin-left:400px;
  margin-top:50px;
  position:absolute;
  z-index:2;
}

.concept-who{
  color:white;
  font-size:16px;
  font-weight:bold;
  position:absolute;
  z-index:2;
  margin-left:350px;
  margin-top:120px;
}


// メニューのデザイン

#menu{
  float:right;
  margin-right:50px;
  margin-top:60px;
  margin-bottom:50px;
}

.top-menu{
  width:auto;
  height:40px;
}


.top-menu a{
  font-size:14px;
  margin-left:30px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #000000;
  border-radius: 3px;
  transition: .4s;
}.top-menu a:hover {
   background: #000000;
   color: white;
 }

.top-menu-signed-in{
  width:auto;
  height:40px;
}


.top-menu-signed-in a{
  font-size:14px;
  margin-left:30px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #000000;
  border-radius: 3px;
  transition: .4s;
}.top-menu-signed-in a:hover {
   background: #000000;
   color: white;
 }

//qiita-markdown css

.code-frame {

  background-color: #eee;

  .code-lang {
    span {
      padding: .5em;
      color: #fff;
      background-color: #666;
    }
  }

  .highlight {
    .hll { background-color: #ffffcc }
    .c { color: #999988; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .k { color: #000000; font-weight: bold } /* Keyword */
    .o { color: #000000; font-weight: bold } /* Operator */
    .cm { color: #999988; font-style: italic } /* Comment.Multiline */
    .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
    .c1 { color: #999988; font-style: italic } /* Comment.Single */
    .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
    .ge { color: #000000; font-style: italic } /* Generic.Emph */
    .gr { color: #aa0000 } /* Generic.Error */
    .gh { color: #999999 } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #555555 } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #aaaaaa } /* Generic.Subheading */
    .gt { color: #aa0000 } /* Generic.Traceback */
    .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
    .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #445588; font-weight: bold } /* Keyword.Type */
    .m { color: #009999 } /* Literal.Number */
    .s { color: #d01040 } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0086B3 } /* Name.Builtin */
    .nc { color: #445588; font-weight: bold } /* Name.Class */
    .no { color: #008080 } /* Name.Constant */
    .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
    .ni { color: #800080 } /* Name.Entity */
    .ne { color: #990000; font-weight: bold } /* Name.Exception */
    .nf { color: #990000; font-weight: bold } /* Name.Function */
    .nl { color: #990000; font-weight: bold } /* Name.Label */
    .nn { color: #555555 } /* Name.Namespace */
    .nt { color: #000080 } /* Name.Tag */
    .nv { color: #008080 } /* Name.Variable */
    .ow { color: #000000; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #009999 } /* Literal.Number.Float */
    .mh { color: #009999 } /* Literal.Number.Hex */
    .mi { color: #009999 } /* Literal.Number.Integer */
    .mo { color: #009999 } /* Literal.Number.Oct */
    .sb { color: #d01040 } /* Literal.String.Backtick */
    .sc { color: #d01040 } /* Literal.String.Char */
    .sd { color: #d01040 } /* Literal.String.Doc */
    .s2 { color: #d01040 } /* Literal.String.Double */
    .se { color: #d01040 } /* Literal.String.Escape */
    .sh { color: #d01040 } /* Literal.String.Heredoc */
    .si { color: #d01040 } /* Literal.String.Interpol */
    .sx { color: #d01040 } /* Literal.String.Other */
    .sr { color: #009926 } /* Literal.String.Regex */
    .s1 { color: #d01040 } /* Literal.String.Single */
    .ss { color: #990073 } /* Literal.String.Symbol */
    .bp { color: #999999 } /* Name.Builtin.Pseudo */
    .vc { color: #008080 } /* Name.Variable.Class */
    .vg { color: #008080 } /* Name.Variable.Global */
    .vi { color: #008080 } /* Name.Variable.Instance */
    .il { color: #009999 } /* Literal.Number.Integer.Long */
  }
}

// 共通
.tag{
  margin-top:30px;
  color: rgb(212, 197, 192);
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.tag span a{
  color: rgb(212, 197, 192);
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


.tag-sumaho{
  margin-top:80px;
  float:right;
  color: rgb(212, 197, 192);
  letter-spacing: 1px;
  font-size: 11px;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.tag-sumaho span a{
  color: #fe696c;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration:none;
  font-family: 游ゴシック, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


// 記事一覧
.second-zone{
  margin-left:102px;
  margin-top:64px;
  font-size:24px;
  height:460px;
  width:380px;
  background-color:white;
  padding-left:50px;
  padding-top:30px;
}


.second-zone a{
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  color:#000000;
  cursor:pointer;
}

.second-zone a:hover{
  color:#FE2E2E;
}

.second-zone img{
  height:180px;
  width:280px;
}

.description-zone{
  color: #6a6a6a;
  font-size:14px;
  width:290px;
  margin-top:36px;
}

.date-index{
  float:right;
  font-size:12px;
  margin-right:10px;
  margin-top:30px;
}


.third-zone{
  margin-right:82px;
  float:right;
  font-size:24px;
  height:460px;
  width:380px;
  background-color:white;
  padding-left:50px;
  padding-top:30px;
  margin-top:64px;
}

.third-zone a{
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  color:#000000;
  cursor:pointer;
}

.third-zone a:hover{
  color:#FE2E2E;
}

.third-zone img{
  height:180px;
  width:280px;
}

.firstborder{
  border:dotted 1px #FE2E2E;
  margin-top:120px;
}

li a{
  color:#000000;
  font-weight:bold;
  font-family:"メイリオ",Meiryo;
  text-decoration:none;
}

li a:hover{
  opacity:0.8;
}


// 記事内のデザイン
.showtitle{
  margin-left:360px;
  font-weight:bold;
  color:#000000;
  font-size:36px;
}

.showtitle p{
  font-size:32px;
}

.showcontent{
  margin-left:360px;
  margin-top:10px;
  margin-right:190px;
  font-size:16px;
  line-height:1.7;
}


.showcontent p{
  margin-bottom:1.7em;
}


.showcontent h2{
  font-weight:bold;
  font-size:20px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom:4px solid #ccc;
}


.showcontent h2::after{
  position:absolute;
  bottom: -4px;
  left:0;
  z-index:2;
  content:'';
  width:20%;
  height:4px;
  background-color: #FE2E2E;
}

.showcontent h3{
  font-weight:bold;
  font-size:14px;
}

#cntnt{
  height:500px;
  width:1300px;
}

.link{
  margin-top:100px;
  text-align:center;
  text-decoration:none;
}

#desc{
  width:1000px;
  height:auto;
}

#desc p{
  color:#000000;
  font-size:12px;
  margin-left:360px;
}


//スライダー(PC)
/* リセット */
* {margin: 0; padding: 0;}
body,html {width: 100%;height: 100%;}
/* 設定 */
.container_pc {width: 100%; height: 500px; overflow-x: hidden; z-index:1;}
.slide_all {width: 800px; margin: 0 auto; height: 250px; position: relative;}
.slide_wrap {width: 2400px; position: absolute; left: 50%; margin-left: -1200px;}
.slide_body {width: 100%;}
.slide {width: 800px;}
.slide img {
  height:400px;
  width: 100%;
  vertical-align: bottom;
}


// 管理者のメニュー
.auth{
  color:white;
  font-size:10px;
}

/*!
 * スマホ版表示
 */

.sp_top{
  margin-left:360px;
}

.title_sp{
  margin-left:400px;
}

.title_sp a{
  color:#000000;
  text-decoration:none;
  font-family:"メイリオ",Meiryo;
  font-weight:bold;
  font-size:32px;
}


.title_sp a:hover{
  opacity:0.8;
}


// スマホ版メニュー
  #menu-sp{
    display: none;
  }
  #menu-sp li {
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }

#menu-sp li a{
  display: block;
  padding: 12px 0 10px;
  background: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
}


#toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #FE2E2E;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size:20px;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }


//スライダー(スマホ)
/* リセット */
* {margin: 0; padding: 0;}
body,html {width: 100%;height: 100%;}
/* 設定 */
.container {width: 100%; height: 500px; overflow-x: hidden;}
.slide_all {width: 800px; margin: 0 auto; height: 250px; position: relative;}
.slide_wrap {width: 2400px; position: absolute; left: 50%; margin-left: -1200px;}
.slide_body {width: 100%;}
.slide {width: 800px;}
.slide img {
  height:400px;
  width: 100%;
  vertical-align: bottom;
}
/* 装飾 */
.bx-controls-direction,.bx-pager {text-align: center;height: 25px;}
.bx-controls-direction a,.bx-pager-item {display: inline-block;}
.bx-pager-item a{display: block; height: 10px; width: 10px; text-indent: -9999px; background: #000; border-radius: 10px; margin:10px 2px 0 2px;}
.bx-pager-item a.active {opacity: 0.3;}
.bx-controls-direction a{text-decoration: none; color: #000; padding:0 5px;}
.bx-controls {position: absolute;bottom: 5px;z-index: 100;width: 100%;}




// スマホ版 デザイン
.border_sp{
  border:dotted 1px #FE2E2E;
  margin-top:100px;
  margin-bottom:50px;
}


.article_sp{
  margin-bottom:50px;
  width:auto;
  height:150px;
  font-size:24px;
}

.article_sp img {
  height: 200px;
  width: 370px;
  margin-right:18px;
  float:left;
  position: absolute;
  float:left;
}


.date-time{
  margin-left:400px;
  color:#666666;
}



/*
*記事内のデザイン（スマートフォン）
 */
.showtitle_sp{
  margin-left:20px;
  font-weight:bold;
  color:#000000;
  font-size:40px;
}

.showtitle_sp p span{
  font-size:16px;
}

.showcontent_sp p{
  font-size:20px;
  margin-bottom:1.7em;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;

}


.showcontent_sp{
  margin-top:10px;
  width:990px;
}

.showcontent_sp h2{
  font-weight:bold;
  font-size:36px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom:4px solid #ccc;
}


.showcontent_sp h2::after{
  position:absolute;
  bottom: -4px;
  left:0;
  z-index:2;
  content:'';
  width:20%;
  height:4px;
  background-color: #FE2E2E;
}

.showcontent_sp h3{
  font-weight:bold;
  font-size:18px;
}




.desc-sp{
  color:#666666;
  font-size:12px;
  margin-left:350px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}


// Aboutページ
.about-title{
  margin-left:500px;
  margin-bottom:50px;
}

#about-momiji{
  height:500px;
  width:850px;
  margin-left:300px;
}

.about-title-who{
  vertical-align: center;
  text-align: center;
  margin-bottom:50px;
}

#about-momiji-who{
  height:500px;
  width:600px;
margin-left:220px;
}

#about-momiji-who p{
  size:20px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}




// 記事執筆ページのCSS
#form-style{
  margin-left:300px;
}

.title-style input{
  width:500px;
}

.des-style input{
  width:500px;
  height:100px;
}

.content-style textarea{
  width:1000px;
  height:500px;
}


body{
  background-color:#fbf9f9;
}


// フッター
footer{
  height:117px;
  bottom:0px;
  margin-top:110px;
  width:auto;
  background-color:#000000;
  color:white;
  font-size:9px;
  padding-top:70px;
  padding-left:125px;
  vertical-align:bottom;
}

footer span{
  font-size:25px;
  margin-right:50px;
}

.paginate{
  text-align:center;
  margin-top:30px;
}


// share button
.date-content{
  margin-left:970px;
  font-size:14px;
  color:#FE2E2E;
}

.social{
  display:inline-block;
  margin-top:30px;
  margin-left:360px;
  .button {
    float: left;
    display:inline-block;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 4px;
    &.twitter {
      width: 90px;
    }
    &.pocket {
      width: 100px;
    }
    &.google {
      width: 70px;
    }
    &.hatena {
      margin-right: 17px;
    }
  }
}

// likeボタン
.like-link{
  float:right;
  margin-right:70px;
}

.like-link img{
  width:20px;
  height:20px;
  position:absolute;
}


// likeページ
#favorites-index{
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:32px;
  margin-top:48px;
  margin-bottom:36px;
}


.fav-content{
  text-align:center;
  margin-bottom:36px;
}

.fav-content img{
  height:180px;
  width:280px;
}

.fav-content a{
  text-decoration:none;
  font-family:"メイリオ",Meiryo;
  font-weight:bold;
  color:black;
  font-size:20px;
}


.fav-content a:hover{
  opacity:0.8;
}

.fav-border{
  border:dashed black 1px;
  margin-bottom:36px;
  width:1000px;
  margin-left:225px;
}




#logo-like{
  margin-top:40px;
  margin-bottom:24px;
  text-align:center;
}

#logo-like a{
  font-size:36px;
  font-weight:bold;
  color:black;
  font-family:"メイリオ",Meiryo;
  text-decoration:none
}

#logo-like a:hover{
  color:#FE2E2E;
  opacity:0.8;
}

// お気に入り一覧 スマホ版
.fav-border-sp{
  border:dashed black 1px;
  margin-bottom:36px;
}

.fav-contents-sp img{
  width:500px;
  height:260px;
}

.fav-contents-sp{
  text-align:center;
  margin-bottom:24px;
}

.fav-contents-sp a{
  font-size:18px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight:bold;
  color:black;
}

.fav-contents-sp a:hover{
  opacity:0.8;
}


// 人気記事ランキング
ul#ranking{
  float:right;
  height:2500px;
  width:350px;
  margin-right:122px;
  margin-top:64px;
}

p.ranking-h{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: white;/*背景透明に*/
  border-left: solid 5px #FE2E2E;/*左線*/
  font-size:20px;
  font-weight:bold;
  margin-bottom:24px;
}

li.r-li{
  list-style-type:none;
  margin-bottom:24px;
  text-align:center;
}


li.r-li img{
  height:140px;
  width:200px;
  margin-bottom:16px;
}

li.r-li a{
  font-size:12px;
}


.r{
  background-color:#FE2E2E;
  opacity:0.8;
  height:30px;
  width:30px;
  border:solid 2px white;
  color:white;
  font-weight:bold;
  position:absolute;
  margin-left:75px;
  margin-top:110px;
  text-align:center;
  padding-top:2px;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
