// Place all the styles related to the Articles controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ビューの崩れを防ぐ
#astyle{
  width:900px;
  margin-left:102px;
}

.blank{
  clear:both;
}

// 記事一覧
.second-zone{
  margin-top:64px;
  font-size:24px;
  height:460px;
  width:380px;
  background-color:white;
  padding-left:50px;
  padding-top:30px;
  float:left;
}


.second-zone a{
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  color:#000000;
  cursor:pointer;
}

.second-zone a:hover{
  color:#FE2E2E;
}

.second-zone img{
  height:180px;
  width:280px;
}

.description-zone{
  color: #6a6a6a;
  font-size:14px;
  width:290px;
  margin-top:36px;
}

.date-index{
  float:right;
  font-size:12px;
  margin-right:10px;
  margin-top:30px;
}


.third-zone{
  float:right;
  font-size:24px;
  height:460px;
  width:380px;
  background-color:white;
  padding-left:50px;
  padding-top:30px;
  margin-top:64px;
  margin-right:50px;
}

.third-zone a{
  text-decoration:none;
  font-size:20px;
  font-weight:bold;
  color:#000000;
  cursor:pointer;
}

.third-zone a:hover{
  color:#FE2E2E;
}

.third-zone img{
  height:180px;
  width:280px;
}

.firstborder{
  border:dotted 1px #FE2E2E;
  margin-top:120px;
}

li a{
  color:#000000;
  font-weight:bold;
  font-family:"メイリオ",Meiryo;
  text-decoration:none;
}

li a:hover{
  opacity:0.8;
}

span .edit-style a{
  color:#000000;
  font-size:12px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

span .edit-style a:hover{
  opacity:0.8;
}

// 記事内のデザイン
.showtitle{
  font-weight:bold;
  color:#000000;
  font-size:36px;
  p{
    text-align: center;
  }
}

.showtitle p{
  font-size:32px;
}

.showcontent{
  margin-left:360px;
  margin-top:10px;
  margin-right:190px;
  font-size:16px;
  line-height:1.7;
  img{
    width:650px;
    height:400px;
  }
}


.showcontent p{
  margin-bottom:1.7em;
}


.showcontent h2{
  font-weight:bold;
  font-size:20px;
  padding: 10px 10px;
  position: relative;
  padding-bottom: 3px;
  border-bottom:4px solid #ccc;
}


.showcontent h2::after{
  position:absolute;
  bottom: -4px;
  left:0;
  z-index:2;
  content:'';
  width:20%;
  height:4px;
  background-color: #FE2E2E;
}

.showcontent h3{
  font-weight:bold;
  font-size:16px;
}

#cntnt{
  height:auto;
  width:auto;
}

.link{
  margin-top:100px;
  text-align:center;
  text-decoration:none;
}

#desc{
  width:1000px;
  height:auto;
}

#desc p{
  color:#000000;
  font-size:12px;
  margin-left:360px;
}

// スマホ版 デザイン
.border_sp{
  border:dotted 1px #FE2E2E;
  margin-top:100px;
  margin-bottom:50px;
}


.article_sp{
  position:relative;
  width:100%;
  height:200px;
  font-size:24px;
}

.article_sp img {
  height: 200px;
  width: 100%;
  float:left;
}


.date-time{
  color:black;
  font-size:12px;
  float:right;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.title_sp{
  a{
    font-size: 18px;
    color:black;
  }
}


/*
*記事内のデザイン（スマートフォン）
 */
.showtitle_sp{
  margin-left:20px;
  font-weight:bold;
  color:#000000;
  font-size:24px;
}

.showcontent_sp p{
  margin-bottom:1.0em;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  span{
    font-size:16px;
  }
}


.showcontent_sp{
  margin-top:10px;
  width:100%;
  h2{
    font-weight:bold;
    font-size:22px;
    padding: 10px 10px;
    position: relative;
    padding-bottom: 3px;
    border-bottom:4px solid #ccc;
  }
  img{
    width:100%;
  }
}


.showcontent_sp h2::after{
  position:absolute;
  bottom: -4px;
  left:0;
  z-index:2;
  content:'';
  width:20%;
  height:4px;
  background-color: #FE2E2E;
}

.showcontent_sp h3{
  font-weight:bold;
  font-size:18px;
}

.desc-sp{
  color:#666666;
  font-size:12px;
  margin-left:350px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

// 記事執筆ページのCSS
#form-all{
  padding-right:150px;
}
#form-style{
  margin-left:150px;
}

.title-style input{
  width:500px;
}

.des-style input{
  width:500px;
  height:100px;
}

.content-style textarea{
  width:1000px;
  height:500px;
}
