// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// likeページ
#favorites-index{
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight:bold;
  text-align:center;
  font-size:32px;
  margin-top:48px;
  margin-bottom:36px;
}


.fav-content{
  text-align:center;
  margin-bottom:36px;
}

.fav-content img{
  height:180px;
  width:280px;
}

.fav-content a{
  text-decoration:none;
  font-family:"メイリオ",Meiryo;
  font-weight:bold;
  color:black;
  font-size:20px;
}


.fav-content a:hover{
  opacity:0.8;
}

.fav-border{
  border:dashed black 1px;
  margin-bottom:36px;
  width:1000px;
  margin-left:225px;
}


#logo-like{
  margin-top:40px;
  margin-bottom:24px;
  text-align:center;
}

#logo-like a{
  font-size:36px;
  font-weight:bold;
  color:black;
  font-family:"メイリオ",Meiryo;
  text-decoration:none
}

#logo-like a:hover{
  color:#FE2E2E;
  opacity:0.8;
}

// 人気記事ランキング
ul#ranking{
  float:right;
  height:2500px;
  width:350px;
  margin-right:122px;
  margin-top:64px;
}

p.ranking-h{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: white;/*背景透明に*/
  border-left: solid 5px #FE2E2E;/*左線*/
  font-size:20px;
  font-weight:bold;
  margin-bottom:24px;
}

li.r-li{
  list-style-type:none;
  margin-bottom:24px;
  text-align:center;
}


li.r-li img{
  height:140px;
  width:200px;
  margin-bottom:16px;
}

li.r-li a{
  font-size:12px;
}


.r{
  background-color:#FE2E2E;
  opacity:0.8;
  height:30px;
  width:30px;
  border:solid 2px white;
  color:white;
  font-weight:bold;
  position:absolute;
  margin-left:75px;
  margin-top:110px;
  text-align:center;
  padding-top:2px;
}


// likeボタン
.like-link{
  float:right;
  margin-right:70px;
}

.like-link img{
  width:20px;
  height:20px;
  position:absolute;
}


// お気に入り一覧 スマホ版
.fav-border-sp{
  border:dashed black 1px;
  margin-bottom:36px;
}

.fav-contents-sp img{
  width:500px;
  height:260px;
}

.fav-contents-sp{
  text-align:center;
  margin-bottom:24px;
}

.fav-contents-sp a{
  font-size:18px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-weight:bold;
  color:black;
}

.fav-contents-sp a:hover{
  opacity:0.8;
}
